%svg-common {
	background: url("../resourses/svg/view/svg/sprite.view.svg") no-repeat;
}

.svg-Android {
	@extend %svg-common;
	background-position: 24.8062015503876% 0;
}

.svg-Android-dims {
	width: 36px;
	height: 33px;
}

.svg-Angular {
	@extend %svg-common;
	background-position: 23.529411764705884% 67.96116504854369%;
}

.svg-Angular-dims {
	width: 29px;
	height: 33px;
}

.svg-Perl {
	@extend %svg-common;
	background-position: 51.515151515151516% 0;
}

.svg-Perl-dims {
	width: 33px;
	height: 35px;
}

.svg-Ruby {
	@extend %svg-common;
	background-position: 0 35.922330097087375%;
}

.svg-Ruby-dims {
	width: 31px;
	height: 33px;
}

.svg-Wordpress {
	@extend %svg-common;
	background-position: 23.30827067669173% 35.922330097087375%;
}

.svg-Wordpress-dims {
	width: 32px;
	height: 33px;
}

.svg-CPlus {
	@extend %svg-common;
	background-position: 47.014925373134325% 35.922330097087375%;
}

.svg-CPlus-dims {
	width: 31px;
	height: 33px;
}

.svg-CSharp {
	@extend %svg-common;
	background-position: 75.93984962406014% 0;
}

.svg-CSharp {
	width: 32px;
	height: 33px;
}

.svg-HTML {
	@extend %svg-common;
	background-position: 75.93984962406014% 32.03883495145631%;
}

.svg-HTML-dims {
	width: 32px;
	height: 33px;
}

.svg-iOS {
	@extend %svg-common;
	background-position: 0 67.96116504854369%;
}

.svg-iOS-dims {
	width: 32px;
	height: 33px;
}

.svg-Java {
	@extend %svg-common;
	background-position: 38.059701492537314% 100%;
}

.svg-Java-dims {
	width: 31px;
	height: 33px;
}

.svg-JavaScript {
	@extend %svg-common;
	background-position: 45.52238805970149% 67.96116504854369%;
}

.svg-JavaScript-dims {
	width: 31px;
	height: 33px;
}

.svg-Node {
	@extend %svg-common;
	background-position: 67.15328467153284% 67.96116504854369%;
}

.svg-Node-dims {
	width: 28px;
	height: 33px;
}

.svg-PHP {
	@extend %svg-common;
	background-position: 100% 0;
}

.svg-PHP-dims {
	width: 32px;
	height: 33px;
}

.svg-Python {
	@extend %svg-common;
	background-position: 100% 32.03883495145631%;
}

.svg-Python-dims {
	width: 32px;
	height: 33px;
}

.svg-React {
	@extend %svg-common;
	background-position: 0 0;
}

.svg-React-dims {
	width: 32px;
	height: 37px;
}

.svg-Scala {
	@extend %svg-common;
	background-position: 0 100%;
}

.svg-Scala-dims {
	width: 20px;
	height: 33px;
}

.svg-SQL {
	@extend %svg-common;
	background-position: 14.925373134328359% 100%;
}

.svg-SQL-dims {
	width: 31px;
	height: 33px;
}

.svg-Swift {
	@extend %svg-common;
	background-position: 100% 64.07766990291262%;
}

.svg-Swift-dims {
	width: 32px;
	height: 33px;
}

